.idea
.phpunit.cache
.phpunit.result.cache
build
composer.lock
coverage
docs
phpunit.xml.dist
phpstan.neon
testbench.yaml
vendor
node_modules

.actrc

.junie
.badita.yaml
build/
__old
workbench
.output.txt


