.idea
.phpunit.cache
.phpunit.result.cache
build
composer.lock
coverage
docs
phpunit.xml.dist
phpstan.neon
testbench.yaml
vendor
node_modules

.actrc

.junie
.badita.yaml
build/
__old

.output.txt
GEMINI.md


/vendor
/node_modules
npm-debug.log
yarn-error.log
/app/storage
/public/storage
/public/hot
/public/build
/storage/pail
/.junie
/.gemini
/.vscode
/.ai
auth.json
.env
/.idea
/__old
/_old
.run
/build
